<h1><%= t.panel.title %> <small><%= @title %></small></h1>

<div class="admin-bar">
  <a class="btn btn-default btn-default" href="/admin/page" role="button">&laquo; <%= t.panel.back %></a>
</div>

<form action="/admin/page/create" method="post" role="form">
  <%= erb :'admin/page/form', :layout => false %>
</form>
	
