 <% if @entity.errors.count > 0 %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <ul>
        <% @entity.errors.full_messages.each do |e| %>
           <li><%= e %></li>
        <% end %>
      </ul>
    </div>
 <% end %>

 <div class="form-group">
   <label for="page_title">Title:</label>
   <br>
   <input id="page_title" class="form-control" name="entity[title]" type="text" value="<%= @entity.title %>" />  	
 </div>

 <div class="form-group">
   <label for="page_body">Content:</label>
   <br>
   <textarea rows="5" id="page_body" name="entity[body]" class="form-control tinymce" rows="10"><%= @entity.body %></textarea>
 </div>
 
 <button type="submit" class="btn btn-success">Submit</button>

<% js_custom_add_file('//tinymce.cachefly.net/4.1/tinymce.min.js')  %> 
<% js_custom_add_file('//tinymce.cachefly.net/4.1/jquery.tinymce.min.js')  %> 
<% js_custom_add_file(link('js/app.editor.js'))  %> 



