/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  color: #555555;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


.duy-main {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
  font-size: 18px;
  line-height: 1.5;
  

}

  .container {
    max-width: 970px;
}

.duy-main h1, .h1,
.duy-main h2, .h2,
.duy-main h3, .h3,
.duy-main h4, .h4,
.duy-main h5, .h5,
.duy-main h6, .h6 {

  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;*/
  
  
  color: #1481b8;
  font-family: "Source Sans Pro", Georgia, serif;
  font-weight: 300;
  
  
}


.duy-post {
  margin-bottom: 30px;
}
.duy-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.duy-info {
  margin-bottom: 20px;
  color: #999;
}

.duy-title a:hover {
  text-decoration: none;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  /*padding: 60px 15px 0;*/
}
.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}



/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  /*margin: 0 -15px 15px;*/
  margin: 0 0 15px;
}

.sidebar-module-center {
  padding: 0px;
  text-align: center;
}

.sidebar-module h4 {
  margin-top:0px;
  font-family: "Source Sans Pro", Georgia, serif;
  font-weight: 400;
}

.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}
