<h1><%= t.panel.title %> <small><%= @title %>t</small></h1>

<div class="admin-bar">
  <a class="btn btn-default btn-default" href="/admin/post" role="button">&laquo; <%= t.panel.back %></a>
</div>

<form action="/admin/post/create" method="post" role="form">
  <%= erb :'admin/post/form', :layout => false %>
</form>
	
