<h1>Administracion <small>Create Post</small></h1>

<div class="admin-bar">
  <a class="btn btn-default btn-default" href="/admin/post" role="button">&laquo; Back to list</a>
</div>

<form action="/admin/post/create" method="post" role="form">
  <%= erb :'admin/post/form', :layout => false %>
</form>
	
