<html>
<head>
 <title>Daniel.uy | <%= title %></title>
</head>
<body>
 <ul>
   <li><a href="/">Home</a></li>
   <li><a href="/acerca/">Acerca</a></li>
   <li><a href="/contactar/">Contactar</a></li>

   <li><a href="/posts/create">New Post</a></li>
 </ul>
 <%= yield %>
</body>
</html>