<h1><%= @message.name %> <small><%= @message.email %></small></h1>

<p>
	<%=h @message.body %>
</p>

<div class="admin-bar">
  <a class="btn btn-default btn-default" href="/admin/messages" role="button">&laquo; Back to list</a>
</div>
