 <% if @entity.errors.count > 0 %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <ul>
        <% @entity.errors.full_messages.each do |e| %>
           <li><%= e %></li>
        <% end %>
      </ul>
    </div>
 <% end %>

 <div class="form-group">
   <label for="page_name"><%= t.panel.fields.name %>:</label>
   <br>
   <input id="page_name" class="form-control" name="entity[name]" type="text" value="<%= @entity.name %>" />  	
 </div>
 
 <button type="submit" class="btn btn-success"><%= t.panel.fields.submit %></button>



