<h1>Administracion <small>Create Post</small></h1>

<div class="admin-bar">
  <a class="btn btn-default btn-default" href="/admin/posts" role="button">&laquo; Back to list</a>
</div>

<form action="/admin/posts/create" method="post" role="form">
  <%= erb :'admin/posts/form', :layout => false %>
</form>
	