<h1>Administracion <small>Create Page</small></h1>

<div class="admin-bar">
  <a class="btn btn-default btn-default" href="/admin/pages" role="button">&laquo; Back to list</a>
</div>

<form action="/admin/pages/create" method="post" role="form">
  <%= erb :'admin/pages/form', :layout => false %>
</form>
	
