<div class="duy-page-title">
	<h1>Acerca</h1>
	<hr />
</div>

<p>
	Finalmente me decidí a tener un blog en español, y con un CMS propio escrito en Ruby. 
</p>

<p>
	Cómo que Ruby? Traidor le decían...
</p>

<p>
<em>Continuará....</em>
</p>
